extends layout

block content
  div.container
    div.navbar
      h1= title
      button  
        a(href='https://mini-message-board-wamc.onrender.com/new') Send a message

    div.messageContainer
      each message in messages
        div.message
          div.user-and-time
            h3= message.name
            - let  date = new Date(message.date) // use your date object here
            - const fullYear = date.getFullYear()
            - const hours = date.getHours();
            - const min = date.getMinutes();
            - const minutes = min.toString().padStart(2, "0");
            - const day = date.getDate();
            - const month = date.toLocaleString('default', { month: 'short' });
            - const amPm = hours >= 12 ? 'pm' : 'am';
            - const formattedDate = `${hours % 12}:${minutes} ${amPm} ${day} ${month} ${fullYear}`;
            p #{formattedDate}
          div.text
            span= message.message
    div.attribution
      | created by&nbsp;
      a.github(href='https://github.com/rishawraj', target='_blank', rel='noopener noreferrer')
        i.fab.fa-github(aria-hidden='true')
        | &nbsp;rishawraj

  head 
    script(src="https://kit.fontawesome.com/1df7e7737b.js" crossorigin="anonymous") 
    link(rel="stylesheet", href="./stylesheets/main.css", type='text/css')
    meta(name="viewport", content="width=device-width, initial-scale=1")
